@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px .... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --smal-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* ==================== colors ========================*/
    --link-color: #757575;
    --link-active-color: #4361ee;
    --link-active-color-dark: #3f37c9;
    --dark-color: #333;
    --white-color: #eee;
    --white-color2: #f1f1f1;

    /*====================== Margenes Bottom =================*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*====================== Z index =================*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background-color: var(--white-color2);
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*========================= container ===============================*/
.container {
    margin: 0 1.5rem;
}

/*========================= header ===============================*/

.header {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: max-content;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-family: "Dancing Script", sans-serif;
    display: none;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    width: 100%;
    margin: 0.7rem 0;
}

.nav__link:link,
.nav__link:visited {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.3rem;
    font-size: 1rem;
    color: var(--link-color);
}

.nav__icon {
    font-size: var(--h1-font-size);
}

.nav__link:active {
    transform: translateY(-5px);
    transition: 0.3s;
}

.nav__link.active {
    color: var(--link-active-color);
}

/*========================= home ===============================*/
.main {
    display: grid;
    row-gap: var(--mb-1);
    padding-bottom: var(--mb-2-5);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.particles {
    width: 100%;
    height: 100vh;
}

.text__home {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text__top {
    color: var(--link-color);
    font-weight: 500;
}

.text__center {
    color: #464646;
    margin: 0.5rem 0;
    font-family: "Dancing Script", sans-serif;
    font-size: var(--big-font-size);
}

.text__bottom {
    color: #464646;
    font-weight: 600;
}

.text__animation {
    padding-left: 4px;
    border-right: 2px solid #464646;
    animation: blink 0.7s infinite;
    color: var(--link-active-color);
}

@keyframes blink {
    from {
        border: none;
    }
    to {
        border-color: 2px solid #464646;
    }
}

.arrow{
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 6rem;
    cursor: pointer;
}
.arrow span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid #828282;
    border-right: 5px solid #828282;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

/*========================= about ===============================*/

.about {
    width: 100%;
    /* height: 100vh; */
    /* display: flex; */
    margin-top: 2rem;
    /* flex-direction: column;
    justify-content: center; */
}

.about__data {
    margin: 0 1rem;
    padding: 2rem 1rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-1-5);
    justify-content: center;
    align-items: center;
    background-color: #CED4DA;
}

.about__img {
    width: 350px;
    height: 300px;
    border-radius: 12px;
}

.about__text {
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-0-75);
    text-align: center;
    margin: 1.5rem 3rem;
    color: var(--link-color);
}

.about__text h3 {
    color: #555;
    font-size: var(--big-font-size);
}


.about__text h4, p {
    font-weight: 500;
}

.about__png {
    display: none;
}

/*========================= skills ===============================*/

.skills {
    margin-top: var(--mb-1-5);
    display: grid;
    row-gap: var(--mb-1-5);
}

.skills__title {
    color: var(--dark-color);
    text-align: center;
    padding: 1.5rem 3rem;
    margin-top: 2rem;
}

.skills__data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: var(--mb-1-5);
    justify-items: center;

}

.skill {
    width: 200px;
    height: 200px;
    padding: var(--mb-0-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
    position: relative;
    transition: 1s;
    z-index: 0;
}

.skill::before, .skill::after {
    position: absolute;
    background: var(--white-color2);
    z-index: -1;
    transition: 1s;
    content: '';
}

.skill::before {
    height: 202px;
    width: 200px;
}

.skill::after {
    width: 202px;
    height: 200px;
}

.skill:hover::before {
    width: 0;
}

.skill:hover::after {
    height: 0px;
}



.skill img {
    width: 80%;
    height: 60%;
    margin-bottom: var(--mb-0-5);
}

/*========================= project ===============================*/

.projects {
    display: grid;
    row-gap: var(--mb-1-5);
    margin: 0 1rem;
}

.projects__title {
    text-align: center;
    margin: 2rem;
    color: var(--dark-color);
}

.project {
    padding: var(--mb-1);
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: var(--mb-0-75);
}

.project__img {
    border-radius: 12px;
}

.tag span {
    margin-right: .5rem;
    color: var(--link-color);
}

.project__title {
    font-weight: 500;
    color: var(--dark-color);
}

.project__des {
    color: var(--link-color);
}

.project__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--mb-0-5);
    margin-top: var(--mb-1);
}

.btn {
    padding: 1rem;
    width: 40%;
    font-size: var(--h2-font-size);
    border-radius: 12px;
    cursor: pointer;
}

.demo {
    border: none;
    background: var(--link-active-color);
    color: #fff;
}

.code {
    border: 1px solid var(--link-active-color);
    color: var(--link-active-color);
    background: transparent;
}

.demo:hover {
    background-color: var(--link-active-color-dark);
}

.code:hover {
    border-color: #4cc9f0;
    color: #4cc9f0;
}

/*========================= footer ===============================*/

.footer {
    width: 100%;
    padding: 1.5rem 2rem 6rem;
    display: grid;
    row-gap: var(--mb-1-5);
    /* justify-content: center; */
    background-color: #DEE2E6;
    border-radius: 20px 20px 0 0;
}



.social {
    display: grid;
    row-gap: var(--mb-0-5);
}

.social__title {
    color: var(--link-color);
}

.social hr {
    display: none;
}

.social__icon {
    font-size: var(--big-font-size);
    padding: var(--mb-0-5);
    cursor: pointer;
    transition: 1s;
}

.github {
    color: #333;
}

.linkedin {
    color: #0a66c2;
}

.twitter {
    color: #1da1f2;
}

.instagram {
    color: #c32aa3;
}

.telegram {
    color: #0088cc;
}

.call {
    display: grid;
    row-gap: var(--mb-1);
}

.call span {
    font-size: 1.2rem;
}

.call h1 {
    color: var(--link-color);
}

/*========================= for medium device ===============================*/

@media screen and (min-width: 481px) {
    .about__data {
        flex-direction: row;
        column-gap: var(--mb-1-5);
    }

    .about__img {
        flex-basis: 30%;
    }

    .about__text {
        flex-basis: 70%;
        margin: 1rem 1.5rem;
    }

    /* ========= skills ========= */
    .skills__title {
        font-size: var(--big-font-size);
    }

    .skills__data {
        grid-template-columns: repeat(3, 1fr);
    }

    /* ========= project ========= */
    .projects {
        margin: 0 2rem;
    }

    .project__button {
        flex-direction: row;
        column-gap: var(--mb-1);
        justify-content: center;
        margin-bottom: var(--mb-1);
    }

}

@media screen and (min-width: 769px) {
    .header {
        top: 0;
        border-radius: 0;
    }

    .nav__logo {
        display: block;
        font-size: var(--h1-font-size);
    }

    .nav__list {
        width: 50%;
    }

    .nav__icon {
        display: none;
    }

    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about__data {
        background-color: transparent;
    }

    .about__img {
        display: none;
    }

    .about__png {
        display: block;
        animation: translate 3s linear infinite alternate;
    }

    @keyframes translate {
        from {transform: translateY(0);}
        to {transform: translateY(30px)}
    }

    .skills {
        margin: 1.5rem auto;
        width: max-content;
    }

    .skills__data {
        column-gap: var(--mb-1);
    }

    .projects {
        grid-template-columns: repeat(3, 1fr);
        column-gap: var(--mb-0-75);
    }

    .projects__title {
        grid-column: span 3;
    }

    .footer {
        padding: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .call div i {
        margin-right: .5rem;
        font-size: 1.3rem;
    }

    .social {
        justify-content: center;
        text-align: center;
    }

    .social hr {
        width: 100%;
        height: 1px;
        display: block;
        background-color: #000;
    }

    .social__icon {
        display: inline-block;
    }

    .social__icon:hover {
        transform: translateY(-6px);
    }

}